body{
    font-family:sans-serif;
    color:#3C3939;
    background-color:#f1f1f1;
    background-color: lightgrey;

    
    
}

.profil{
    width:400px;
    margin:auto;
    background:#FFF;
    box-shadow:0 4x 10px 0 rgba(0,0,0,0.5);
    text-align:center;
    border:2px solid black;
}

.image{
    position:relative;
    right:56px;
    
}



.info
{
    color:#4B4FE2;
    margin-right:16px;
}

.main
{
    padding: 30px;
    padding-top:0px;
    margin-bottom: 0px;
    font-size:20px;
    color:black;
    
    
}

.class
{
    
}